body {
	padding: 0;
	margin: 0;
}

.header {
	/*background-color: #1d4375;*/
	background-image: linear-gradient(#1d4375, #275a9e);
	padding: 25px;
}

.app {
	background-color: #ededed;
	padding: 25px;
}

.footer {
	background-color: #1d4375;
	padding: 25px;
}

.content {
	padding-left: 25%;
	padding-right: 25%;
}

.defaultFont {
	color: white;
	font-family: "Verdana";
}

.blackFont {
	font-family: "Verdana";
}
